/* css styles */
.about-image { 
   position: absolute; 
   top: 1;
   left: 0;
   /*width: 12.5% !important;
   height: auto !important;*/
}


/*.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 100% !important;
  width: 100% !important;
}*/