/*.about-image { 
   position: absolute;
   top: 1;
   left: 0;

}

.about-page .about-contents {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.about-page .about-image {
  max-width: 150px;
  height: auto;
  border-radius: 8px;
  flex-shrink: 0;
}*/